<section class="jumbotron home" ng-if="vm.section == 'home'">
  <div >
    <img class="logo" ng-src="{{vm.logoUrl}}" />
  </div>
  <p class="lead">
      {{vm.sectionText}}
  </p>
</section>
<!-- || vm.section == 'new-about'  -->
<section class="jumbotron about" ng-if="vm.section == 'about'">
  <div class="textsContainerAbout">
      <h1 class="title_H1" >{{vm.sectionH1}}</h1>
      <p class="lead">
          {{vm.sectionText}}
      </p>
  </div>
  <div class="imgContainerAbout">
      <div class="bgrAbout"></div>
  <div>
</section>
