/*angular-material styles are required to this component*/

@media (min-width: 900px) {
  .panel.home {
    height: 89vh;
    padding: 0;
  } 
}
@media (max-width: 900px) {
  .lead{
    display:none;
  }
}
.panel {
  background-color: white;
  border-bottom: 2px solid #d6d6d6;
  color: #757575;
  margin: 20px 10px;
  padding: 30px 0;
  width: 100%;
}

.panel .theme {
  color: #4d265c;
  display: inline-flex;
  width: 100%;
}

.bgrPanel{
  background-image: url("assets/images/logoCode.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.imgContainerPanel{
  padding: 0 10% 0 10%;
  width: 30%;
}

.panel .lead {
  font-size: 1.9em;
}