<div class="mdl-grid">
  <section class="panel" ng-if="vm.section == 'panel'">
    <section layout="column" class="theme">
      <div layout="row">
        <div flex="60" class="textsContainerAbout mdl-typography--text-center">
          <h1 class="title_H1">{{ vm.sectionH1 }}</h1>
          <h2 class="lead">{{ vm.sectionText }}</h2>
        </div>
        <div flex class="imgContainerPanel">
            <div class="bgrPanel"></div>
        <div>     
      </div>     
    </section>
    <section layout="column">
      <div layout="row" layout-margin>
        <div flex="15">
          <md-checkbox ng-model="vm.cb1" aria-label="Checkbox 1">
            Checkbox 1: {{ vm.cb1 }}
          </md-checkbox>
        </div>        
        <div flex>
          <md-checkbox ng-model="vm.cb2" aria-label="Checkbox 2">
            Checkbox 2: {{ vm.cb2 }}
          </md-checkbox>
        </div>        
      </div>
    </section>
  </section>
</div>
