/*angular-material styles are required to this component*/

.cardContent {
  display: inline-flex;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.cardInfoContainer {
  padding-right: 30%;
  width: 60%;
}

.cardImgContainer {
  height: auto;
  margin-top: 24px;
  width: 40%;
}

.cardImgContainer img {
  height: auto;
  width: 80%;
}

.buttonLine:hover {
  background-color: #722d88 ;
  color: white;
}

.buttonInfo{
  margin-left: 5%;
  text-align: left;
}

.buttonInfo:hover{
  background-color: transparent;
}
